@media screen and (min-width: 1024px) { 
    
    /* HEADER */
    .navimg {
        width: 2.5vw;
    }
    
    .title {
        font-size: 2vw;
    }
    
    /* MENU */
    
    #menu-aside {
        width: 30%;
    }

    #close-menu {
        top: 3vh;
        right: 3vw;
    }
    
    .flecha , .icons {
        width: 1.5vw;
    }
    
    .links div {
        display: flex;
        align-items: center;
        margin-left: 2vw;
    }
    
    .links {
        width: 100%;
        padding: 5vh 0 ;
    }
    
    .links:hover {
        background-color: #F8F9FE;
        color: #3145FF ;
    }
    
    .top {
        height: 12vh;
    }
    
    .mid {
        margin-top: 1vh;
        height: 80vh;
    }
    
    /* MAIN */
    
    .divdate {
        gap: 2vw;
    }
    
    /* CREATE TASK */
    
    #create-crttsk , #create-crtpr {
        top: 30vh;
        left: 35vw;
        width: 23vw;
        height: 55vh;
    }
    
    .top-div {
        height: 15%;
        padding: 1vh 2vw;
    }
    
    .mid-div {
        margin-top: -2vh;
        gap: 3vh;
        height: 70%;
    }
    
    .bot-div {
        height: 15%;
        gap: 2vw;  
    }
    
    #close-crttsk, #close-crtpr {
        padding: 2vh;
        margin-right: 3vw;
    }
    
    .cruz {
        width: 2vw;
    }
    
    /* TASKS */
    
    .task-item , .project-item {
        width: 83%;
        margin: 2vh;
        margin-left: 5vw;
        padding: 4vh;
    }


    .title-task {
        font-size: 3vh;
    }
    
    .task {
        width: 65%;
        height: auto;
    }
    
    .check {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
    
    .button {
        width: 3vw;
        height: 6vh;
        border-radius: 50%; 
        gap: 0.2vh;
    }

    .svgIcon {
        width: 1vw;
        transition-duration: 0.3s;
    }
      
    .checkbox-wrapper {
        width: 3vw;
        height: 6vh;
    }

    .checkbox-wrapper .stroke {
        stroke-width: 0.1vw;
    }
      
    .checkbox-wrapper .check {
        stroke-width: 0.2vw;
    }
    
    /* FOOTER */
    
    #addbtn {
        width: 5vw;
        height: 10vh;
    }
     
    .taskprojico {
        width: 1.5vw;
    }
    
    #crtpr , #crttsk {
        display: flex;
        align-items: center ;
        gap: 1vw;
    }
    
    .card {
        width: 15vw;
        padding: 1vh 0vh;
        gap: 1vh;
    }
}